In [14]:
import pandas as pd
import numpy as np
#from sklearn.utils import shuffle

df = pd.read_csv('full_dataset.csv')
#df = shuffle(df, random_state=42)
df.shape

(974, 8)

In [15]:
df.head()
#kompletter Datensatz

,filename,corpus,genre,period,region,text,title,year
0,HUMA_P3_WMD_1777_HomburgRAW.txt,manchester,HUMA,P3,WMD,Nachricht von den Alterthu&#868;mern in dem Ge...,Homburg,1777
1,NEWS_P3_NoD_1786_wolfenbuettel1.txt,manchester,NEWS,P3,NoD,"Zeitung\r\nfür\r\nStädte, Flecken und Dörfer,\...",wolfenbuettel1,1786
2,NARR_P1_NoD_1658_MorgenlaendischRAW.txt,manchester,NARR,P1,NoD,Das zwey vnd dreysigste Capitel.\n Des Pr...,Morgenlaendisch,1658
3,SCIE_P1_WMD_1680_EpidemicaRAW.txt,manchester,SCIE,P1,WMD,Das XX. Capitel.\n Von den Schnecken.\n ...,Epidemica,1680
4,NEWS_P2_WMD_1701_hanau2.txt,manchester,NEWS,P2,WMD,Extraordinari Europæische Zeitung. 1701. Num. ...,hanau2,1701

# Teilung des Dataframes in die einzelnen Teilcorpora und Perioden

In [20]:
#Teilung in Manchester und Innsbruck Dataframe, sowie in die einzelnen Perioden
#Der einfachheit halber wird hier mit dem Dataframe.loc Attribut gearbeitet, weil es vergleichbar mit einem SQL-Statement ist ist
#Hierfür jeweils eine eigene Zelle, damit man via Shape nochmal die Größe prüfen kann
#Für die Tests können die einzelnen Dataframes wie gewünscht concateniert werden
df_man = df.loc[df['corpus'] == 'manchester']
df_man.shape

(336, 8)

In [34]:
df_inn = df.loc[df['corpus'] == 'innsbruck']
df_inn.shape

[0      False
 1      False
 2      False
 3      False
 4      False
        ...
 969     True
 970     True
 971     True
 972     True
 973     True
 Name: corpus, Length: 974, dtype: bool]

In [25]:
#P1
df_P1 = df.loc[df['period'] == 'P1']
df_P1.shape

(115, 8)

In [26]:
#P2
df_P2 = df.loc[df['period'] == 'P2']
df_P2.shape

(113, 8)

In [27]:
#P3
df_P3 = df.loc[df['period'] == 'P3']
df_P3.shape

(108, 8)

In [28]:
#P4
df_P4 = df.loc[df['period'] == 'P4']
df_P4.shape

(247, 8)

In [29]:
#P5
df_P5 = df.loc[df['period'] == 'P5']
df_P5.shape

(208, 8)

In [30]:
#P6
df_P6 = df.loc[df['period'] == 'P6']
df_P6.shape

(182, 8)

# Konkatenieren der einzelnen Teile

In [38]:
df_concat = pd.concat((df_P1, df_P2))
df_concat.shape

                                    filename      corpus genre period region  \
2    NARR_P1_NoD_1658_MorgenlaendischRAW.txt  manchester  NARR     P1    NoD
3          SCIE_P1_WMD_1680_EpidemicaRAW.txt  manchester  SCIE     P1    WMD
10         SERM_P1_WMD_1662_FuneraliaRAW.txt  manchester  SERM     P1    WMD
12         NARR_P1_OMD_1671_RuebezahlRAW.txt  manchester  NARR     P1    OMD
13          NEWS_P1_WOD_1662_strassburg1.txt  manchester  NEWS     P1    WOD
..                                       ...         ...   ...    ...    ...
317                NEWS_P2_OOD_1713_wien.txt  manchester  NEWS     P2    OOD
320      SERM_P2_WMD_1721_HeilBronnenRAW.txt  manchester  SERM     P2    WMD
325         DRAM_P2_WOD_1702_HelvetiaRAW.txt  manchester  DRAM     P2    WOD
329       LEGA_P2_WMD_1724_GesetzBuchRAW.txt  manchester  LEGA     P2    WMD
330        HUMA_P2_WMD_1739_StollbergRAW.txt  manchester  HUMA     P2    WMD

                                                  text            title  year
2    Das zwey vnd dreysigste Capitel.\n      Des Pr...  Morgenlaendisch  1658
3    Das XX. Capitel.\n      Von den Schnecken.\n  ...        Epidemica  1680
10   Die acht und dreyssigste Leich-Predigt.\n     ...        Funeralia  1662
12   Ru&#868;bezahl ist ein Schiffergra&#868;ber.\n...        Ruebezahl  1671
13   NUM. 4. Anno 1662.\r\nZeitung auß Hamburg/ vom...      strassburg1  1662
..                                                 ...              ...   ...
317  Anno 1713. Num. LXII. 4 August.\r\nOrdentliche...             wien  1713
320  Die Geistlichen Heil-Bronnen Der Wunden JESU C...      HeilBronnen  1721
325  ACTUS II.\n      SCENA I.\n      Der Adel bekl...         Helvetia  1702
329  Von den Eyden der Cammer-Gerichts-Persohnen un...       GesetzBuch  1724
330  &#167;. 7. Man hat keine sichere Nachricht, zu...        Stollberg  1739

[228 rows x 8 columns]

(228, 8)